In [2]:
data1<-read.csv("Priem.csv",fileEncoding="UTF-16")

# 1 Начнем с простого:

1. вывести число строк и число столбцов датасета,

In [ ]:
nrow(data1)
ncol(data1)

2. вывести название третьего столбца,

In [8]:
colnames(data1)[3]

 [1] "Пол"                        "Сумма.баллов"
 [3] "ЕГЭ...матем."               "ЕГЭ...рус.яз."
 [5] "Аттестат.с.отличием.оценка" "ГТО.оценка"
 [7] "Сочинение.оценка"           "Регион"
 [9] "Тип.насел..пункта"          "Дата.рождения"
[11] "День.рождения"              "Месяц.рождения"

3. вывести пятую строку,

In [ ]:
data1[5,]

4. вывести первые 5 строк,

In [7]:
data1[1:5,]
head(data1,20)

  Пол     Сумма.баллов ЕГЭ...матем. ЕГЭ...рус.яз. Аттестат.с.отличием.оценка
1 МУЖСКОЙ 388          90           98            5
2 ЖЕНСКИЙ 351          84           87            0
3 ЖЕНСКИЙ 355          94           91            5
4 ЖЕНСКИЙ 338          76           88            5
5 МУЖСКОЙ 349          82           93            5
  ГТО.оценка Сочинение.оценка Регион            Тип.насел..пункта
1 0          1                Красноярский край ГОРОД
2 0          2                Чувашская Респ    ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ
3 0          2                Москва г          ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
4 0          2                Москва г          ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
5 0          2                Москва г          ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
  Дата.рождения День.рождения Месяц.рождения
1 24.09.1998    24             9
2 14.02.1997    14             2
3 25.03.2000    25             3
4 19.11.1999    19            11
5 12.12.1999    12            12

   Пол     Сумма.баллов ЕГЭ...матем. ЕГЭ...рус.яз. Аттестат.с.отличием.оценка
1  МУЖСКОЙ 388          90            98           5
2  ЖЕНСКИЙ 351          84            87           0
3  ЖЕНСКИЙ 355          94            91           5
4  ЖЕНСКИЙ 338          76            88           5
5  МУЖСКОЙ 349          82            93           5
6  МУЖСКОЙ 366          98            72           0
7  МУЖСКОЙ 383          90            98           5
8  ЖЕНСКИЙ 364          80            86           0
9  МУЖСКОЙ 368          84            93           0
10 ЖЕНСКИЙ 373          86            83           5
11 ЖЕНСКИЙ 399          96           100           5
12 МУЖСКОЙ 359          86            91           0
13 ЖЕНСКИЙ 364          86            86           0
14 МУЖСКОЙ 363          96            72           0
15 ЖЕНСКИЙ 376          96            93           0
16 ЖЕНСКИЙ 373          98            83           5
17 МУЖСКОЙ 388          96            98           0
18 ЖЕНСКИЙ 335          90            96           0
19 МУЖСКОЙ 378          90            91           0
20 ЖЕНСКИЙ 364          94           100           5
   ГТО.оценка Сочинение.оценка Регион               Тип.насел..пункта
1  0          1                Красноярский край    ГОРОД
2  0          2                Чувашская Респ       ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ
3  0          2                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
4  0          2                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
5  0          2                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
6  0          2                Ульяновская обл      ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ
7  0          1                Владимирская обл     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ
8  0          2                Санкт-Петербург г    ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
9  0          2                Владимирская обл     ГОРОД
10 0          3                Иркутская обл        ГОРОД
11 0          2                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
12 0          0                Ханты-Мансийский  АО ГОРОД
13 0          0                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
14 0          1                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
15 0          2                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
16 0          2                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
17 0          0                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
18 0          2                Московская обл       ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
19 0          1                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
20 0          3                Москва г             ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
   Дата.рождения День.рождения Месяц.рождения
1  24.09.1998    24             9
2  14.02.1997    14             2
3  25.03.2000    25             3
4  19.11.1999    19            11
5  12.12.1999    12            12
6  05.02.1999     5             2
7  23.12.1998    23            12
8  22.12.1998    22            12
9  13.06.1999    13             6
10 23.04.1999    23             4
11 13.11.1999    13            11
12 21.05.1999    21             5
13 24.08.1999    24             8
14 30.07.1999    30             7
15 11.04.2000    11             4
16 07.05.2000     7             5
17 15.02.2000    15             2
18 12.06.1999    12             6
19 31.01.2000    31             1
20 10.04.1999    10             4

5. вывести балл ЕГЭ по математике у седьмого абитуриента,

In [ ]:
data1[7,"ЕГЭ...матем."]

6. cоздать новый датасет, содержащий только абитуриентов с баллом ЕГЭ по математике больше 98.

In [ ]:
data2<-subset(data1,data1$"ЕГЭ...матем.">98)
data2

# 2. Потренируемся применять loc, assign, apply:

1. вывести строки с седьмой по двадцатую,

In [ ]:
data1[7:20,]

2. вывести только баллы ЕГЭ по русскому и математике для первых 20 человек,

In [ ]:
data1[1:20,4:3]

3. добавить к датасету столбец, в котором стоит "да" , если балл ЕГЭ по математике больше балла по русскому и "нет" иначе (можно true, false),

In [ ]:
data1$TF<-ifelse(data1$"ЕГЭ...рус.яз."<data1$"ЕГЭ...матем.","да","нет")
head(data1)

4. создать новый датасет, содержащий только абитуриентов со средним баллом больше 95.

In [ ]:
data3<-subset(data1,(data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2>95)
head(data3)

# 3. Добавим группировку (groupby) и агрегирующие функции (agg):

1. вывести средние баллы девочек и мальчиков

In [4]:
group1<-data.frame("Пол"=c("ЖЕНСКИЙ","МУЖСКОЙ"),
                   "Средний балл (рус.яз.)"=c(
                        mean(data1[data1$"Пол"=="ЖЕНСКИЙ","ЕГЭ...рус.яз."],na.rm=TRUE),
                        mean(data1[data1$"Пол"=="МУЖСКОЙ","ЕГЭ...рус.яз."],na.rm=TRUE)
                 ),"Средний балл (матем.)"=c(
                        mean(data1[data1$"Пол"=="ЖЕНСКИЙ","ЕГЭ...матем."],na.rm=TRUE),
                        mean(data1[data1$"Пол"=="МУЖСКОЙ","ЕГЭ...матем."],na.rm=TRUE)
                   ))
group1

  Пол     Средний.балл..рус.яз.. Средний.балл..матем..
1 ЖЕНСКИЙ 89.37124               85.33906
2 МУЖСКОЙ 85.16178               85.39391

2. вывести средние баллы, имеющих аттестат с отличием и нет,

In [9]:
group2<-data.frame("Аттестат.с.отличием"=c("Есть","Нет"),
                   "Средний балл (рус.яз.)"=c(
                        mean(data1[data1$"Аттестат.с.отличием.оценка"==5,"ЕГЭ...рус.яз."],na.rm=TRUE),
                        mean(data1[data1$"Аттестат.с.отличием.оценка"==5,"ЕГЭ...рус.яз."],na.rm=TRUE)
                 ),"Средний балл (матем.)"=c(
                        mean(data1[data1$"Аттестат.с.отличием.оценка"==5,"ЕГЭ...матем."],na.rm=TRUE),
                        mean(data1[data1$"Аттестат.с.отличием.оценка"==5,"ЕГЭ...матем."],na.rm=TRUE)
                   ))
group2

  Аттестат.с.отличием Средний.балл..рус.яз.. Средний.балл..матем..
1 Есть                89.91328               86.18854
2 Нет                 89.91328               86.18854

3. вывести средние баллы по 4 категориям, получающимся при сочетании двух предыдущих пунктов,

In [8]:
group3<-data.frame("Пол.и.аттестат"=c("М,есть","М,нет","Ж,Есть","Ж,нет"),"Средний балл русс. яз."=c(
mean(data1[data1$"Аттестат.с.отличием.оценка"==5 & data1$"Пол"=="МУЖСКОЙ","ЕГЭ...рус.яз."],na.rm=TRUE),
mean(data1[data1$"Аттестат.с.отличием.оценка"==0 & data1$"Пол"=="МУЖСКОЙ","ЕГЭ...рус.яз."],na.rm=TRUE),
mean(data1[data1$"Аттестат.с.отличием.оценка"==5 & data1$"Пол"=="ЖЕНСКИЙ","ЕГЭ...рус.яз."],na.rm=TRUE),
mean(data1[data1$"Аттестат.с.отличием.оценка"==0 & data1$"Пол"=="ЖЕНСКИЙ","ЕГЭ...рус.яз."],na.rm=TRUE)),
                  "Средний балл матем."=c(
mean(data1[data1$"Аттестат.с.отличием.оценка"==5 & data1$"Пол"=="МУЖСКОЙ","ЕГЭ...матем."],na.rm=TRUE),
mean(data1[data1$"Аттестат.с.отличием.оценка"==0 & data1$"Пол"=="МУЖСКОЙ","ЕГЭ...матем."],na.rm=TRUE),
mean(data1[data1$"Аттестат.с.отличием.оценка"==5 & data1$"Пол"=="ЖЕНСКИЙ","ЕГЭ...матем."],na.rm=TRUE),
mean(data1[data1$"Аттестат.с.отличием.оценка"==0 & data1$"Пол"=="ЖЕНСКИЙ","ЕГЭ...матем."],na.rm=TRUE)))
group3

  Пол.и.аттестат Средний.балл.русс..яз. Средний.балл.матем.
1 М,есть         88.59574               86.58719
2 М,нет          83.64632               84.86834
3 Ж,Есть         91.34231               85.75769
4 Ж,нет          86.88350               84.81068

4. найти число студентов с баллом ЕГЭ по математике, лежащим в заданном диапазоне,

In [10]:
lower=readline("Нижняя граница(включена):")
lower=as.integer(lower)
upper=readline("Верхняя граница(включена):")
upper=as.integer(upper)
print(nrow(subset(data1,data1$"ЕГЭ...матем.">=lower & data1$"ЕГЭ...матем."<=upper)))

Нижняя граница(включена):80
Верхняя граница(включена):90
[1] 764

5. создать датасет с количествами студентов, баллы которых лежат в заданных диапазонах (<70, 70-80 и т.д.). (средний балл)

In [11]:
data4<-data.frame("Диапазон"=c("<=70","70<x=80","80<x<=90","90<x<=100"),
                 "Число"=c(nrow(subset(data1,(data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2<=70)),
                          nrow(subset(data1,(data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2>70 &
                                       (data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2<=80)),
                          nrow(subset(data1,(data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2>80 &
                                       (data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2<=90)),
                          nrow(subset(data1,(data1$"ЕГЭ...рус.яз."+data1$"ЕГЭ...матем.")/2>90))))
data4

  Диапазон  Число
1 <=70       18
2 70<x=80   221
3 80<x<=90  788
4 90<x<=100 358